<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <title>Green Reversi Game</title>
    <link rel="stylesheet" href="style/common_style_classes/common_style_classes.css"/>
    <link rel="stylesheet" href="style/common_style_classes/common_component.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body data-base-width="480">

    <div class="page">

        <div class="page_body">
            <div class="inner">

                <div id="reversiGame">

                    <div class="mb20">
                        <button class="button green" type="button" onclick="game.startGame()">start game</button>
                        now: {{colorNow == 1 ? 'Black' : 'White'}}
                    </div>

                    <div class="board">

                        <div class="horizontalTagContainner">
                            <div class="inner">
                                <span class="tag" v-for="tag in xCoordinate">{{tag}}</span>
                            </div>
                        </div>
                        <div class="verticalTagContainner">
                            <div class="inner">
                                <span class="tag" v-for="tag in yCoordinate">{{tag}}</span>
                            </div>
                        </div>

                        <table class="pieceArea skin" cellpadding="0" cellspacing="0">
                            <tr v-for="row in verticalCellCount">
                                <td v-for="cell in horizontalCellCount" class="cell" width="12.5%" height="12.5%"
                                    v-bind:data-row="row" v-bind:data-cell="cell" v-on:click="onDown">

                                    <!-- black piece -->
                                    <div v-if="cellState[row-1][cell-1]==1" class="blackPiece piece"></div>
                                    <!-- white piece -->
                                    <div v-if="cellState[row-1][cell-1]==2" class="whitePiece piece"></div>

                                    <!-- available cell -->
                                    <div v-if="cellIsAvailable(row,cell)" class="piece">
                                        <span v-if="!showReferenceScore">&times;</span>
                                        <span class="score" v-if="showReferenceScore">{{game.cellScoreMap[row-1][cell-1]}}</span>
                                    </div>

                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="scoreContainner mb20">
                        <table border="1" cellspacing="0" cellpadding="8">
                            <tr>
                                <th>player</th>
                                <th>score</th>
                                <th v-if="enableAssist">action force</th>
                                <th v-if="enableAssist">internal pieces</th>
                                <th v-if="enableAssist">external pieces</th>
                            </tr>
                            <tr>
                                <td>Black</td>
                                <td>{{score[0]}}</td>
                                <td v-if="enableAssist">{{game.actionForce[0]}}</td>
                                <td v-if="enableAssist"></td>
                                <td v-if="enableAssist"></td>
                            </tr>
                            <tr>
                                <td>White</td>
                                <td>{{score[1]}}</td>
                                <td v-if="enableAssist">{{game.actionForce[1]}}</td>
                                <td v-if="enableAssist"></td>
                                <td v-if="enableAssist"></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <label>
                            <input class="checkbox" type="checkbox" v-model="enableAssist"/>
                            Enable assist
                        </label>
                        <label>
                            <input class="checkbox" type="checkbox" v-model="showReferenceScore"/>
                            Show reference score:
                        </label>
                        <label>
                            <select class="selectbox" v-model="game.vsType" v-on:change="onChangeVsType">
                                <option value="vs_player">vs player</option>
                                <option value="vs_computer">vs computer</option>
                            </select>
                        </label>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="script/common_script/common_function.js"></script>
    <script src="asset/jquery/jquery-3.1.0.min.js"></script>
    <script src="asset/vue.2.5.16.js"></script>

    <script src="script/common_script/common_action.js"></script>
    <script src="game.js"></script>
    <script src="robot2.js"></script>

</body>
</html>

