<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <title>green_reversi_game</title>
    <link rel="stylesheet" href="style/common_style_classes/common_style_classes.css"/>
    <link rel="stylesheet" href="style/common_style_classes/common_component.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="asset/vue.2.5.16.js"></script>
</head>
<body data-base-width="480">

    <div class="page">

        <div class="page_body">
            <div class="inner">

                <div class="align_right">
                    <select class="selectbox" id="languageSelectbox">
                        <option value="zh-cn">简体中文</option>
                        <option value="en-us">USA English</option>
                    </select>
                </div>

                <div id="reversiGame" v-cloak="">

                    <div class="board">

                        <div class="horizontalTagContainner">
                            <div class="inner">
                                <span class="tag" v-for="tag in xCoordinate">{{tag}}</span>
                            </div>
                        </div>
                        <div class="verticalTagContainner">
                            <div class="inner">
                                <span class="tag" v-for="tag in yCoordinate">{{tag}}</span>
                            </div>
                        </div>

                        <table class="pieceArea skin" cellpadding="0" cellspacing="0">
                            <tr v-for="row in verticalCellCount">
                                <td v-for="cell in horizontalCellCount" class="cell" width="12.5%" height="12.5%"
                                    v-bind:data-row="row" v-bind:data-cell="cell" v-on:click="onDown">

                                    <!-- black piece -->
                                    <div v-if="cellState[row-1][cell-1]==1" class="blackPiece piece"></div>
                                    <!-- white piece -->
                                    <div v-if="cellState[row-1][cell-1]==2" class="whitePiece piece"></div>

                                    <!-- available cell -->
                                    <div v-if="cellIsAvailable(row,cell)" class="piece">
                                        <span v-if="!showReferenceScore">&times;</span>
                                        <span class="score" v-show="showReferenceScore">{{game.cellScoreMap[row-1][cell-1]}}</span>
                                    </div>

                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="mb20 align_center">

                        <button class="button green mr10" type="button" onclick="game.startGame()" data-native="">start_game</button>

                        <span data-native="">game_now</span>
						<span data-native="" class="mr10" v-show="colorNow==1">game_black</span>
						<span data-native="" class="mr10" v-show="colorNow==2">game_white</span>

                        <label>
                            <select class="selectbox" v-model="game.vsType" v-on:change="onChangeVsType">
                                <option value="vs_player" data-native="">VS Player</option>
                                <option value="vs_computer" data-native="">VS Computer</option>
                            </select>
                        </label>

                        <label>
                            <select class="selectbox" v-on:change="changeRobot(robotItem)">
                                <option value="vs_player" v-for="(robotItem, robotIndex) in robotList" data-native="">
                                    ROBOT {{robotIndex + 1}}
                                </option>
                            </select>
                        </label>
                    </div>

                    <div class="scoreContainner mb20 align_center">
                        <table border="1" cellspacing="0" cellpadding="8" class="centered">
                            <tr>
                                <th data-native="">player</th>
                                <th data-native="">score</th>
                                <th data-native="" v-show="enableAssist">action_force</th>
                                <th data-native="" v-show="enableAssist">internal_pieces</th>
                                <th data-native="" v-show="enableAssist">external_pieces</th>
                            </tr>
                            <tr>
                                <td data-native="">game_black</td>
                                <td>{{score[0]}}</td>
                                <td v-show="enableAssist">{{game.actionForce[0]}}</td>
                                <td v-show="enableAssist"></td>
                                <td v-show="enableAssist"></td>
                            </tr>
                            <tr>
                                <td data-native="">game_white</td>
                                <td>{{score[1]}}</td>
                                <td v-show="enableAssist">{{game.actionForce[1]}}</td>
                                <td v-show="enableAssist"></td>
                                <td v-show="enableAssist"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="align_center">
                        <!--<label>-->
                            <!--<input class="checkbox" type="checkbox" v-model="enableAssist"/>-->
                            <!--<span data-native="">enable_assist</span>-->
                        <!--</label>-->
                        <!--<label>-->
                            <!--<input class="checkbox" type="checkbox" v-model="showReferenceScore"/>-->
                            <!--<span data-native="">show_reference_score</span>-->
                        <!--</label>-->
                    </div>

                </div><!-- end #reversiGame -->

                <div>
                    robot 1: 尽量接近中心，少吃外子，周围尽量少空格，尽量不占边，尽量占角。
                </div>

            </div>
        </div>

    </div>

    <script src="script/common_script/common_function.js"></script>
    <script src="asset/jquery/jquery-3.1.0.min.js"></script>

    <script src="script/common_script/common_action.js"></script>
    <script src="game.js"></script>
    <script src="robot1.js"></script>
    <script src="robot2.js"></script>

    <script>
        var defaultLanguage = 'zh-cn';
        var languageSupported = ['zh-cn', 'en-us'];
        var currentLanguage = initNativeLanguage({
            defaultLanguage : defaultLanguage,
            languageSupportedList : languageSupported
        });

        initLanguageSelectbox(getElement('languageSelectbox'), {
            defaultLanguage : defaultLanguage,
            currentLanguage : currentLanguage,
            languageSupportedList : languageSupported
        });

        game.view.robotList = [robot1, robot2];
        game.robot = game.view.robotList[0];
    </script>

</body>
</html>

